#submissions
  %h2 Photo Contest Submissions
  %table.table.table-striped
    %thead
      %tr
        %th Photo
        %th
          %a{:href => "/admin?sort=first_name"}First Name
          - if params["sort"]=="first_name"
            *
        %th 
          %a{:href => "/admin?sort=last_name"}Last Name
          - if params["sort"]=="last_name"
            *
        %th Phone Number
        %th Email
        %th 
          %a{:href => "/admin?sort=timestamp"}Date Submitted
          - if params["sort"]=="timestamp" or !params["sort"]
            *
        %th Province
    %tbody
      - submissions.each do |submission|
        %tr
          %td
            %a{:href => submission['photo_url']}
              %img{:src => submission['photo_thumbnail_url']}
          %td= submission['first_name']
          %td= submission['last_name']
          %td= submission['phone']
          %td= submission['email']
          %td= submission['timestamp'].year.to_s + "/" + submission['timestamp'].month.to_s + "/" + submission['timestamp'].day.to_s + " " + "%02d" % submission['timestamp'].hour + ":" + "%02d" % submission['timestamp'].min
          %td= submission['province']

