#submissions
  %h2 Photo Contest Submissions
  %table.table.table-striped
    %thead
      %tr
        %th Photo
        %th
          %a{:href => "/admin?sort=first_name"}First Name
          - if params["sort"]=="first_name"
            *
        %th 
          %a{:href => "/admin?sort=last_name"}Last Name
          - if params["sort"]=="last_name"
            *
        %th Phone Number
        %th Email
        %th 
          %a{:href => "/admin?sort=timestamp"}Date Submitted
          - if params["sort"]=="timestamp" or !params["sort"]
            *
        %th Province
    %tbody
      - submissions.each do |submission|
        %tr
          %td
            %a.photoBigUrl{:href => submission['photo_url'], :target => "_blank"}
              %img.thumbnail{:src => submission['photo_thumbnail_url'], :photo_id => submission['photo_id']}
          %td= submission['first_name']
          %td= submission['last_name']
          %td= submission['phone']
          %td= submission['email']
          %td= submission['timestamp'].year.to_s + "/" + submission['timestamp'].month.to_s + "/" + submission['timestamp'].day.to_s + " " + "%02d" % submission['timestamp'].hour + ":" + "%02d" % submission['timestamp'].min
          %td= submission['province']

:javascript
  $(document).ready(function() {
    $("img.thumbnail").each(function(){
       var imgElement = $(this);
       var photo_id = imgElement.attr('photo_id');
       var flickrUrl ="http://api.flickr.com/services/rest/?method=flickr.photos.getSizes&api_key=#{settings.flickr_api_key}&photo_id="+ photo_id + "&format=json&nojsoncallback=1";
      $.getJSON(flickrUrl, function(data){
          for(i=0; i < data.sizes.size.length; i++){
            if(data.sizes.size[i].label == "Thumbnail")
              imgElement.attr("src", data.sizes.size[i].source);
          }
        });
    });
  });
