%form#facebook-form{:method => 'get', :action =>"/share/facebook/#{photo_id}?language=#{settings.lauguage}"}
  #share_facebook
    %center
      %h3= t.share_on_facebook
      %p= t.please_add_message_for_sharing_
      %textarea#facebook-message{:name => 'message', :col => 35, :row => 3}= t.facebook_message
      %input.btn.btn-primary#continue{ :href => "#", :type => 'submit', :value => "#{t.continue}"} 
      %input.btn#cancel{ :href => "#", :type => 'button', :value => "#{t.cancel}"} 

:javascript
  $(document).ready(function() {
    $("#cancel").click(function(){
       window.close();
    });
  }); 
