%form{ :action => "/upload?language=#{settings.language}", :method => 'post', :enctype => "multipart/form-data" }
  .modal.hide#collect-user-info
    .modal-header
      %button.close{ :type => "button", 'data-dismiss' =>"modal"}×
      %h3{'data-localize' => 'enter_to_win_personal_info'}  Enter to win: personal information
    .modal-body
      #user-info
        .input-field
          %label{'data-localize' => 'first_name'} First Name*:
          %input#first-name{ :type => 'text', :name => 'first_name'}
        .input-field
          %label{'data-localize' => 'last_name'} Last Name*:
          %input#last-name{ :type => 'text', :name => 'last_name'}
        .input-field
          %label{'data-localize' => 'phone'} Cell Phone*:
          %input#phone{ :type => 'text', :name => 'phone'}
        .input-field
          %label{'data-localize' => 'email'} Email*:
          %input#email{ :type => 'text', :name => 'email'} 
    .modal-footer.continue
      %center
        %button.btn.btn-primary.btn-large#continue-upload{ :type => 'button', :disabled => "disabled", 'data-localize' => 'continue' } Continue

  .modal.hide#upload-photo-container
    .modal-header
      %button.close{ :type => "button", 'data-dismiss' =>"modal"}
      %h3{'data-localize' => 'upload_your_photo'}  Upload your photo
    .modal-body
      .choose-picture
        %input#choose-picture{ :type => 'file', :name => 'photo'}
        #editor-canvas
          #banner
          #picture
      .banner-picker
        %h4.title{'data-localize' => 'pick_your_message'}Pick your message
        %center.controls
          %img.active{:src => "/images/banners/no-padding/banner1#{settings.language_suffix}.png", :banner => "banner1#{settings.language_suffix}"}
          %img{:src => "/images/banners/no-padding/banner2#{settings.language_suffix}.png", :banner => "banner2#{settings.language_suffix}"}
          %img.round{:src => "/images/banners/no-padding/banner3-small#{settings.language_suffix}.png", :banner => "banner3-small#{settings.language_suffix}"}
        %input{:type => "hidden", :value => "banner1#{settings.language_suffix}", :name => "banner"}
    .modal-footer.generate
      %center
        %button.btn.btn-primary.btn-large#generate-btn{ :type => 'submit', :disabled => "disabled", 'data-localize' => 'generate_your_image' } Generate your image!
%script{ :type => 'text/javascript', :src => '/javascripts/picture-loader.js' }
:javascript
  $(document).ready(function() {
    $("#upload-photo").click(function(){
      $("#main-container")[0].scrollIntoView();
      $("#collect-user-info").modal('show');
    });
    
    $(".agree").change(function(){
      if($("#agree-check:checked").length && $("#agree-contest-check:checked").length)
        $("#upload-photo").removeAttr("disabled");
      else
        $("#upload-photo").attr("disabled", "disabled");
    });

  
     $("#continue-upload").click(function(){
       $("#collect-user-info").modal('hide');
       $("#upload-photo-container").modal('show');
     });

     var validation = function() {
      var emailRule =/^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
      var phoneRule =/^([0-9]( |-)?)?(\(?[0-9]{3}\)?|[0-9]{3})( |-)?([0-9]{3}( |-)?[0-9]{4}|[a-zA-Z0-9]{7})$/;
      var firstNameRule =/^./;
      var lastNameRule =/^./;
      validate_field($("#email"), emailRule, "Email is not valid.");
      validate_field($("#phone"), phoneRule, "Phone number is not valid.");
      validate_field($("#first-name"), firstNameRule, "First name must not be empty.");
      validate_field($("#last-name"), lastNameRule, "Last name must not be empty.");

      if($(".input-field input.invalid").length > 0)
         $("#continue-upload").attr("disabled","disabled");
      else
         $("#continue-upload").removeAttr("disabled");
    };

    $(".input-field input").keypress(validation);
    $(".input-field input").blur(validation);

    function validate_field(inputField, regexRule, errorMessage) {
      if(!inputField.val().match(regexRule)) {
        inputField.addClass('invalid');
        if(inputField.parent().find("span").length == 0)
          inputField.parent().append('<span>' + errorMessage + '</span>');
      }else{
        inputField.removeClass('invalid');
        inputField.parent().find("span").remove();
      }
    };

  });

