%form{ :action => "/upload?language=#{settings.language}", :method => 'post', :enctype => "multipart/form-data" }
  .modal.hide#collect-user-info
    .modal-header
      %button.close{ :type => "button", 'data-dismiss' =>"modal"}×
      %h3= t.enter_to_win_personal_info
      .modal-body
      #user-info
        .input-field 
          %label= t.first_name
          %input#first-name{ :type => 'text', :name => 'first_name'}
        .input-field
          %label= t.last_name
          %input#last-name{ :type => 'text', :name => 'last_name'}
        .input-field 
          %label= t.phone
          %input#phone{ :type => 'text', :name => 'phone'}
        .input-field 
          %label= t.email
          %input#email{ :type => 'text', :name => 'email'} 
    .modal-footer.continue
      %center
        %button.btn.btn-primary.btn-large#continue-upload{ :type => 'button', :disabled => "disabled"}= t.continue

  .modal.hide#upload-photo-container
    .modal-header
      %button.close{ :type => "button", 'data-dismiss' =>"modal"}
      %h3= t.upload_your_photo
    .modal-body
      .choose-picture
        %input#choose-picture{ :type => 'file', :name => 'photo'}
        #editor-canvas
          #banner
          #picture
      .banner-picker
        %h4.title= t.pick_your_message
        %center.controls
          %img.active{:src => "/images/banners/no-padding/banner1#{settings.language_suffix}.png", :banner => "banner1#{settings.language_suffix}"}
          %img{:src => "/images/banners/no-padding/banner2#{settings.language_suffix}.png", :banner => "banner2#{settings.language_suffix}"}
          %img.round{:src => "/images/banners/no-padding/banner3-small#{settings.language_suffix}.png", :banner => "banner3-small#{settings.language_suffix}"}
        %input{:type => "hidden", :value => "banner1#{settings.language_suffix}", :name => "banner"}
    .modal-footer.generate
      %center
        %button.btn.btn-primary.btn-large#generate-btn{ :type => 'submit', :disabled => "disabled"}= t.generate_your_image 
%script{ :type => 'text/javascript', :src => '/javascripts/picture-loader.js' }
:javascript
  $(document).ready(function() {
    $("#upload-photo").click(function(){
      $("#main-container")[0].scrollIntoView();
      $("#collect-user-info").modal('show');
    });
    
     
     $("#continue-upload").click(function(){
       $("#collect-user-info").modal('hide');
       $("#upload-photo-container").modal('show');
     });

     var validation = function() {
      var emailRule =/^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
      var phoneRule =/^([0-9]( |-)?)?(\(?[0-9]{3}\)?|[0-9]{3})( |-)?([0-9]{3}( |-)?[0-9]{4}|[a-zA-Z0-9]{7})$/;
      var firstNameRule =/^./;
      var lastNameRule =/^./;
      validate_field($("#email"), emailRule, "#{t.invalid_email}");
      validate_field($("#phone"), phoneRule, "#{t.invalid_phone_number}");
      validate_field($("#first-name"), firstNameRule, "#{t.invalid_first_name}");
      validate_field($("#last-name"), lastNameRule, "#{t.invalid_last_name}");

      if($(".input-field input.invalid").length > 0)
         $("#continue-upload").attr("disabled","disabled");
      else
         $("#continue-upload").removeAttr("disabled");
    };

    $(".input-field input").keypress(validation);
    $(".input-field input").blur(validation);

    function validate_field(inputField, regexRule, errorMessage) {
      if(!inputField.val().match(regexRule)) {
        inputField.addClass('invalid');
        if(inputField.parent().find("span").length == 0)
          inputField.parent().append('<span>' + errorMessage + '</span>');
      }else{
        inputField.removeClass('invalid');
        inputField.parent().find("span").remove();
      }
    };

  });

