%form{ :action => "/upload?language=#{settings.language}", :method => 'post', :enctype => "multipart/form-data" }
  .modal.hide#collect-user-info
    .modal-header
      %button.close{ :type => "button", 'data-dismiss' =>"modal"}×
      %h3{'data-localize' => 'enter_to_win_personal_info'}  Enter to win: personal information
    .modal-body
      #user-info
        %label{'data-localize' => 'first_name'} First Name:
        %input#first-name{ :type => 'text', :name => 'first_name'}
        %label{'data-localize' => 'last_name'} Last Name:
        %input#last-name{ :type => 'text', :name => 'last_name'}
        %label{'data-localize' => 'phone'} Phone Number:
        %input#phone{ :type => 'text', :name => 'phone'}
        %label{'data-localize' => 'email'} Email:
        %input#email{ :type => 'text', :name => 'email'} 
    .modal-footer.continue
      %center
        %button.btn.btn-primary.btn-large#continue-upload{ :type => 'button', :disabled => "disabled", 'data-localize' => 'continue' } Continue

  .modal.hide#upload-photo-container
    .modal-header
      %button.close{ :type => "button", 'data-dismiss' =>"modal"}
      %h3{'data-localize' => 'upload_your_photo'}  Upload your photo
    .modal-body
      .choose-picture
        %input#choose-picture{ :type => 'file', :name => 'photo'}
        #editor-canvas
          #banner
          #picture
      .banner-picker
        %h4.title{'data-localize' => 'pick_your_message'}Pick your message
        %center.controls
          %img.active{:src => "/images/banners/no-padding/banner1#{settings.language_suffix}.png", :banner => "banner1#{settings.language_suffix}"}
          %img{:src => "/images/banners/no-padding/banner2#{settings.language_suffix}.png", :banner => "banner2#{settings.language_suffix}"}
          %img.round{:src => "/images/banners/no-padding/banner3-small#{settings.language_suffix}.png", :banner => "banner3-small#{settings.language_suffix}"}
        %input{:type => "hidden", :value => "banner1#{settings.language_suffix}", :name => "banner"}
    .modal-footer.generate
      %center
        %button.btn.btn-primary.btn-large#generate-btn{ :type => 'submit', :disabled => "disabled", 'data-localize' => 'generate_your_image' } Generate your image!
%script{ :type => 'text/javascript', :src => '/javascripts/picture-loader.js' }
:javascript
  $(document).ready(function() {
    $("#upload-photo").click(function(){
      $("#main-container")[0].scrollIntoView();
      $("#collect-user-info").modal('show');
    });
    
    $(".agree").change(function(){
      if($("#agree-check:checked").length && $("#agree-contest-check:checked").length)
        $("#upload-photo").removeAttr("disabled");
      else
        $("#upload-photo").attr("disabled", "disabled");
    });

  
     $("#continue-upload").click(function(){
       $("#collect-user-info").modal('hide');
       $("#upload-photo-container").modal('show');
     });

  
  });

