='<!DOCTYPE html>'
%html
  %head
    %title We Have Arthritis &mdash; Join the campaign
    %meta{ :charset => 'utf-8' }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %link{ :rel => 'stylesheet', :href => '/stylesheets/bootstrap.min.css', :type => 'text/css' }
    %link{ :rel => 'stylesheet', :href => '/stylesheets/styles.css', :type => 'text/css' }
    %script{ :type => 'text/javascript', :src => '/javascripts/zepto.min.js' }
    %script{ :type => 'text/javascript', :src => '/javascripts/jquery-1.7.2.min.js' }
    %script{ :type => 'text/javascript', :src => '/javascripts/bootstrap.min.js' }
    %script{ :type => 'text/javascript', :src => '/javascripts/bootstrap-modal.js' }
    %script{ :type => 'text/javascript', :src => 'http://platform.tumblr.com/v1/share.js'}
    %script{ :type => 'text/javascript', :src => '/javascripts/flickrshow-7.2.min.js'}
    %script{ :type => 'text/javascript', :src => "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&sensor=false"}
  %body
    .container#main-container
      #session-info
        - if session[:error]
          .alert.alert-error
            = session[:error]
        - if session[:success]
          .alert.alert-success
            = session[:success]
        - session.clear
      .row#header
        .span8#left-side-header
          %h1 We Have Arthritis!
          %p Join The Arthritis Society's special campaign to raise awareness about the impact of the disease on 4.6 million Canadians living with the arthritis.  Arthritis can affect anyone; it affects babies and chidden, as well as people in the prime of their lives. Nearly three of every five people with arthritis are of working age (under 65).
          %h2 Add your picture to show your support!
          %p Create and share your photo using the tool below. Your photo will be posted on our Flickr online gallery, and you will also be able to share it on Facebook, Twitter and Tumblr.
          .row
            .span3
              %img.sample{:src => "/images/arthritis-society.png"}
            .span3 
              %img.sample{:src => "/images/arthritis-society.png"}
          %p Disclaimer TEXT to be decided
          %center
            %a.btn.btn-large.btn-success#upload-photo Upload Your Photo
        .span4.deep-shadow#right-side-header
          %h2 Flickr Gallery
          #flickr-ss
          %h2 Get on the map!
          #map-canvas

      #content
        = yield
      %br

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32486270-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      flickrshow('flickr-ss', { user: "#{settings.flickr_user_id}", tags: "#{settings.campaign}", autoplay: true, license: '' }); 

      //google map setup
      var myLatlng = new google.maps.LatLng(43,-79);
      var myOptions = {
        zoom: 4,
        center: myLatlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      var map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);
      var georssLayer = new google.maps.KmlLayer('http://api.flickr.com/services/feeds/geo/?id=#{settings.flickr_user_id}&lang=en-us&format=feed-georss');
      georssLayer.setMap(map);
