='<!DOCTYPE html>'
%html
  %head
    %title We Have Arthritis &mdash; Join the campaign
    %meta{ :charset => 'utf-8' }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %link{ :rel => 'stylesheet', :href => '/stylesheets/bootstrap.min.css', :type => 'text/css' }
    %link{ :rel => 'stylesheet', :href => '/stylesheets/bootstrap-responsive.min.css', :type => 'text/css' }
    %link{ :rel => 'stylesheet', :href => '/stylesheets/styles.css', :type => 'text/css' }
    %script{ :type => 'text/javascript', :src => '/javascripts/jquery-1.7.2.min.js' }
    %script{ :type => 'text/javascript', :src => '/javascripts/bootstrap.min.js' }
    %script{ :type => 'text/javascript', :src => '/javascripts/bootstrap-modal.js' }
    %script{ :type => 'text/javascript', :src => 'http://platform.tumblr.com/v1/share.js'}
    %script{ :type => 'text/javascript', :src => '/javascripts/flickrshow-7.2.min.js'}
    %script{ :type => 'text/javascript', :src => "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&sensor=false&language=#{settings.language}"}
    %script{ :type => 'text/javascript', :src => "/javascripts/jquery.localize.js"}
  %body
    #main-container
      #session-info
        - if session[:error]
          .alert.alert-error
            = session[:error]
        - if session[:success]
          .alert.alert-success
            = session[:success]
        - session.clear
      #header
        #left-side-header
          #left-container
            %h1{'data-localize' => 'we_have_arthritis'}We Have Arthritis!
            %p{'data-localize' => 'join_the_arthritis_society_'}Join The Arthritis Society’s special campaign to raise awareness about the impact of the disease on 4.6 million Canadian living with the arthritis. Arthritis can affect anyone; it affects babies and children, as well as people in the prime of their lives. Nearly three of every five people with arthritis are of working age (under 65).
            %h2{'data-localize' => 'add_picture_to_show_support_'}Add your picture to show your support!
            %p{'data-localize' => 'create_and_share_photo_'}Create and share your photo using the tool below. Your photo will be posted on our Flickr online gallery, and you will also be able to share it on Facebook, Twitter and Tumblr.
            #sample-images.clear
              %img.sample{:src => "/images/banners/banner1#{settings.language_suffix}.png"}
              %img.sample{:src => "/images/banners/banner2#{settings.language_suffix}.png"}
              %center
                %img.sample.small{:src => "/images/banners/banner3-small#{settings.language_suffix}.png"}

            #disclaimer.clear
              #disclaimer-description
                %p{'data-localize' =>'i_agree_to_allow_'}I agree to allow The Arthritis Society to use my photograph as mentioned in the statement linked to this checkbox:*
                %p.hint{ 'data-localize' => 'required_fields'}* required fields
              #agree-check-container
                %input#agree-check{ :type => 'checkbox', :value => 'yes', :name => "agree-check"}
                %a#agree-doc{:href => "/doc/PermissionIsRequired#{settings.language_suffix}.doc", 'data-localize' => 'user_permission_release'} User permission release
            %center.clear
              %button.btn.btn-large.btn-primary#upload-photo{:disabled => 'disabled', 'data-localize' => 'upload_your_photo'} Upload Your Photo
        #right-side-header
          #right-container
            %h2{ 'data-localize' => 'flickr_gallery'}Flickr Gallery
            #flickr-ss
            %h2{ 'data-localize' => 'get_on_the_map'}Get on the map!
            #map-canvas
            %h2{ 'data-localize' => 'watch_our_video'}Watch Our Video
            %iframe#video{ :src => "http://player.vimeo.com/video/42697821", 'src-fr' => "http://player.vimeo.com/video/42697820"}
            %a#view-manifesto{ :href => "/images/manifesto#{settings.language_suffix}.jpg"}
              %h2{'data-localize' => 'view_our_manifesto'}View Our Manifesto
              %center
                %img{:src => "/images/manifesto-thumb#{settings.language_suffix}.jpg"}
      #content
        = yield
      %br

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32486270-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      
      //localization
      $(document).ready(function(){
        language = "#{settings.language}";
        $("[data-localize]").localize("app", { language: language, pathPrefix:"/localization" ,skipLanguage: /^en/ });
        
        if(language == 'fr'){
          $("#video").attr("src", $("#video").attr("src-fr"));
        }
      });
     
 
       
      //slide show
      flickrshow('flickr-ss', { user: "#{settings.flickr_user_id}", tags: "#{settings.campaign}", autoplay: true, license: '' }); 

      //google map setup
      var myLatlng = new google.maps.LatLng(43,-79);
      var myOptions = {
        zoom: 4,
        center: myLatlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      var map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);
      var georssLayer = new google.maps.KmlLayer('http://api.flickr.com/services/feeds/geo/?id=#{settings.flickr_user_id}&lang=en-us&format=feed-georss');
      georssLayer.setMap(map);
