='<!DOCTYPE html>'
%html
  %head
    %title We Have Arthritis &mdash; Join the campaign
    %meta{ :charset => 'utf-8' }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %link{ :rel => 'stylesheet', :href => '/stylesheets/bootstrap.min.css', :type => 'text/css' }
    %link{ :rel => 'stylesheet', :href => '/stylesheets/bootstrap-responsive.min.css', :type => 'text/css' }
    %link{ :rel => 'stylesheet', :href => '/stylesheets/styles.css', :type => 'text/css' }
    %script{ :type => 'text/javascript', :src => '/javascripts/jquery-1.7.2.min.js' }
    %script{ :type => 'text/javascript', :src => '/javascripts/bootstrap.min.js' }
    %script{ :type => 'text/javascript', :src => '/javascripts/bootstrap-modal.js' }
    %script{ :type => 'text/javascript', :src => 'http://platform.tumblr.com/v1/share.js'}
    %script{ :type => 'text/javascript', :src => '/javascripts/flickrshow-7.2.min.js'}
    %script{ :type => 'text/javascript', :src => "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&sensor=false&language=#{settings.language}"}
  %body
    #main-container
      #session-info
        - if session[:error]
          .alert.alert-error
            = session[:error]
        - if session[:success]
          .alert.alert-success
            = session[:success]
        - session.clear
      #header
        #left-side-header
          #left-container
            %h1= t.we_have_arthritis
            %h1= t.arthritis_does_not_have_us
            %p= t.join_the_arthritis_society_
            %h2= t.add_picture_to_show_support_
            %p= t.create_and_share_photo_
            #sample-images.clear
              %img.sample{:src => "/images/banners/no-padding/banner1#{settings.language_suffix}.png"}
              %img.sample{:src => "/images/banners/no-padding/banner2#{settings.language_suffix}.png"}
              %img.sample.small{:src => "/images/banners/no-padding/banner3-small#{settings.language_suffix}.png"}

            #disclaimer.clear
              #disclaimer-description
                %p= t.i_agree_to_allow_
                %p.hint= t.required_fields
              #agree-check-container
                %input#agree-check{ :type => 'checkbox', :value => 'yes', :name => "agree-check"}
                %a#agree-doc{:href => "/doc/PermissionIsRequired#{settings.language_suffix}.pdf", :target => '_blank'}= t.user_permission_release
            %center.clear
              %button.btn.btn-large.btn-primary#upload-photo{:disabled => 'disabled' }= t.upload_your_photo
        #right-side-header
          #right-container
            %h2= t.flickr_gallery
            #flickr-ss
            %h2= t.get_on_the_map
            #map-canvas
            %h2= t.watch_our_video
            %iframe#video{ :src => "#{t.video_source}"}
            %a#view-manifesto{ :href => "/images/manifesto#{settings.language_suffix}.jpg", :target =>"_blank"}
              %h2= t.view_our_manifesto
              %center
                %img{:src => "/images/manifesto-thumb#{settings.language_suffix}.jpg"}
      #facebook-content
        = yield
      %br

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32486270-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
       
      //slide show
      flickrshow('flickr-ss', { user: "#{settings.flickr_user_id}", tags: "#{settings.campaign}", autoplay: true, license: '' }); 

      //google map setup
      var myLatlng = new google.maps.LatLng(43,-79);
      var myOptions = {
        zoom: 4,
        center: myLatlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      var map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);
      var georssLayer = new google.maps.KmlLayer('http://api.flickr.com/services/feeds/geo/?id=#{settings.flickr_user_id}&lang=en-us&format=feed-georss');
      georssLayer.setMap(map);
