.modal.hide#share-image-container
  .modal-header
    %button.close{ :type => "button", 'data-dismiss' =>"modal"}×
    %h3{ 'data-localize' => 'share_your_image'} Share your image
  .modal-body
    - if session[:sharing_success]
      .alert.alert-success= session[:sharing_success]
    %img.user-image.row-fluid{ :src => photo_url }
  .modal-footer#share-box
    %center
      %a.btn.btn-large.btn-primary#launch_share_fb{'data-localize' => 'share_on_facebook'} Share on Facebook
      %a.btn.btn-large.btn-primary{ :onclick => "window.open('#{share_to_twitter_url(photo_url)}', 't', 'toolbar=0,resizable=0,status=1,width=450,height=430')", 'data-localize' => 'share_on_twitter' } Share on Twitter
      %a.btn.btn-large.btn-primary{ :onclick => "window.open('#{share_to_tumblr_url(photo_url)}', 't', 'toolbar=0,resizable=0,status=1,width=450,height=430')", 'data-localize' => 'share_on_tumblr' } Share on Tumblr
    


:javascript
  $(document).ready(function() {
    //$("#share-image-container").modal({backdrop: false, show: false});
    $("#share-image-container").modal('show');
    

    $("#launch_share_fb").click(function(){
      window.open("/share/facebook/message/#{photo_id}?language=#{settings.language}","myNewWin","width=900,height=600,toolbar=0,location=0");
    });
   
    $('#share-image-container').on('hidden', function () {
      window.location = '/'
    });
    
  });
 
  (function(d, s, id) {                                                                                                                                       
    var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk')); 
  
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
